body {
  background-image: url("../../assets/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}